.hero_content {
  padding-top: 70px;
}

.hero_title {
  font-size: 2.5rem;
  line-height: 55px;
}

.hero_title span {
  color: #df2020;
}

.hero_content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.hero_btn button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;

}

.order_btn {
  background: #df2020;
  color: #fff;
  transition: 0.3s;
}

.order_btn:hover {
  background: #212245;
}

.order_btn:hover a {
  color: inherit;
  text-decoration: none;
}

.all_foods-btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}

.all_foods-btn a {
  text-decoration: none;
  color: #df2020;
}

.hero_img {
  margin: 40px;
}

.hero_service p{

  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
} 

.shipping_icon i{
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius : 50%;
  font-weight: 500 !important;
}
@media only screen and (max-width: 768px) {
  .hero_content h5 {
    font-size: 1rem;
  }

  .hero_content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero_title {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .hero_content {
    text-align: center;
  }

  .order_btn {
    display: block;
    margin: 0 auto;
  }
}